<!-- <h3>Merhaba Angular</h3>
<h1>loading</h1>

<div class="spinner-container" *ngIf="isLoading">
    <div class="overlay show"></div>
    <div class="spinner show">
      <div class="loader"></div>
      <p>Loading...</p>
    </div>
  </div>

  1-10 arası sayıları listeye yazdır -->
  <!-- <ul>
  <li *ngFor="let i of 10 | createFakeArray">{{ i }}</li>
</ul> -->

<!-- <button (click)="startLoading">Start Loading</button>
<button (click)="stopLoading">Stop Loading</button> -->

<!-- <h3>{{ title }}</h3>
<h3>{{ sumOfNumbers(6,5) }}</h3>
<h3>{{ 4 + 4 }}</h3>
<h3>4 + 4</h3>
<button (click)="btnClick()">Tıkla</button>
<my-calculator></my-calculator> -->
<app-listview></app-listview>
<!-- <app-product-list> </app-product-list> -->
